<template>
  <div class="home">
<v-main>
     <SendFileForm/>
   </v-main>
  </div>
</template>

<script>

import SendFileForm from "@/components/SendFileForm";

export default {
  name: 'Home',
  components: {
   SendFileForm
  }
}
</script>
