 <template>
  <v-app-bar app color="primary" dark>
    <div class="d-flex align-center">
      <v-img
        alt="Send File Logo"
        class="shrink mr-2"
        contain
        src="@/assets/sendFileLogo.png"
        transition="scale-transition"
        width="45"
      />
      <span class="ml-2">Send File</span>
    </div>

    <v-spacer></v-spacer>

    <v-chip-group v-model="selectedMenu" active-class="blue" color="blue">
      <v-chip
        link
        @click="$router.push({ name: 'home' })"
        outlined
        :color="primary"
      >
        <span>Home</span>
      </v-chip>
      <span v-if="isAuthenticated">
        <v-chip
          link
          @click="$router.push({ name: 'dashboard' })"
          outlined
          :color="primary"
        >
          <span>Dashboard</span>
        </v-chip>
        <v-chip link @click="logOut" outlined :color="primary">
          <span>LogOut</span>
        </v-chip>
      </span>
      <span v-else>
        <v-chip link @click="openSignIn" outlined :color="primary">
          <span>SignIn</span>
        </v-chip>

        <v-chip link @click="openSignUp" outlined :color="primary">
          <span>SignUp</span>
        </v-chip>
      </span>
    </v-chip-group>
  </v-app-bar>
</template>

<script>
import AuthRepository from "@/repositories/auth";
import { mapState } from "vuex";
export default {
  name: "AppBar",
  components: {},
  data: () => ({
    selectedMenu: 0,
  }),
  computed: {
    ...mapState({ isAuthenticated: (state) => state.general.isAuthenticated }),
  },
  methods: {
    openSignIn() {
      this.$store.commit("general/SET_SIGNIN_DIALOG", true);
    },
    openSignUp() {
      this.$store.commit("general/SET_SIGNUP_DIALOG", true);
    },
    logOut() {
      AuthRepository.logout()
        .then(() => {
          window.localStorage.removeItem("vuex");
          this.$store.commit("general/SET_iS_AUTHENTICATED", false);
          this.$store.commit("devicePrefs/UPDATE_BEARER_TOKEN", null, { root: true });
        })
        .catch(() => {
          //error display
        });
    },
  },
};
</script>