<template>
  <v-container class="fill-height" fluid>
    <v-main>
      <v-form class="ml-16" ref="form" v-model="valid" :lazy-validation="lazy">
        <v-layout>
          <v-card class="" min-width="350" max-width="450">
            <v-card-title class="justify-center"
              >Send Download Link by Email
            </v-card-title>
            <v-col>
              <v-text-field
                v-model="title"
                :rules="titleRules"
                label="Title"
                required
              ></v-text-field>

              <v-text-field
                v-model="description"
                :rules="descriptionRules"
                label="Decription"
                required
              ></v-text-field>

              <v-text-field
                v-model="recipientEmail"
                :rules="emailRules"
                label="Recipient E-mail"
                required
              ></v-text-field>
              <v-file-input
                :rules="filesRules"
                v-model="files"
                color="primary"
                counter
                label="File input"
                multiple
                placeholder="Select your files"
                prepend-icon="mdi-paperclip"
                :show-size="1000"
              >
                <template v-slot:selection="{ index, text }">
                  <v-chip
                    v-if="index < 1"
                    color="primary"
                    dark
                    label
                    class="mt-3 mb-3"
                  >
                    {{ text }}
                  </v-chip>

                  <span
                    v-else-if="index === 1"
                    class="overline grey--text text--darken-3 mx-2"
                  >
                    +{{ files.length - 1 }} File(s)
                  </span>
                </template>
              </v-file-input>
              <v-card-actions>
                <v-btn
                  :disabled="!valid"
                  color="success"
                  class="mr-4"
                  @click="validate"
                >
                  Validate
                </v-btn>
              </v-card-actions>
            </v-col>
          </v-card>
        </v-layout>
      </v-form>
    </v-main>
  </v-container>
</template>

<script>
import FormRepository from "@/repositories/form";
export default {
  name: "SendFileForm",

  data: () => ({
    valid: true,
    title: "",
    titleRules: [(v) => !!v || "title is required"],
    description: "",
    descriptionRules: [(v) => !!v || "Description is required"],
    recipientEmail:"",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    files: [],
    filesRules: [(v) => (v && v.length > 0) || "File is required"],
    lazy: false,
  }),

  methods: {
    validate() {   
       let formData = new FormData();
      formData.append('title', this.title);
      formData.append('description',this.description);
      formData.append('recipient_email',this.recipientEmail);
      formData.append('file',this.files[0]);
      FormRepository.sendForm(formData)
          .then((res) => {
            console.log("file sent",res)
            this.close();
          })
          .catch(() => {
            //error display
          });
    },
  },
};
</script>
