<template>
  <v-dialog
    transition="dialog-bottom-transition"
    v-model="model"
    :hide-overlay="xs"
    :fullscreen="xs"
    max-width="500"
    persistent
  >
    <v-layout style="min-height: 100%">
      <v-card class="mx-auto" style="width: 100%">
        <v-layout column fill-height justify-space-between style="width: 100%">
          <slot name="header">
            <v-toolbar flat max-height="60" color="primary">
              <v-card-title> SignUp </v-card-title>
              <v-spacer></v-spacer>
              <v-icon @click="close">mdi-close</v-icon>
            </v-toolbar>
          </slot>

          <slot>
            <v-container>
              <v-layout wrap align-content-center>
                <v-card-text class="pb-0">
                  <v-text-field
                    v-model="name"
                    :rules="nameRules"
                    label="Your Name"
                    required
                  ></v-text-field>
                </v-card-text>

                <v-card-text>
                  <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    label="Your E-mail"
                    required
                  ></v-text-field>
                </v-card-text>
                <v-card-text>
                  <v-text-field
                    v-model="password"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[passwordRules.required, passwordRules.min]"
                    :type="showPassword ? 'text' : 'password'"
                    label="Passeword"
                    @click:append="showPassword = !showPassword"
                  ></v-text-field>
                </v-card-text>
                <v-card-text>
                  <v-text-field
                    v-model="passwordConfirmation"
                    :append-icon="showPasswordC ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[passwordRules.required, passwordRules.min]"
                    :type="showPasswordC ? 'text' : 'password'"
                    label="Confirmation Passeword"
                    @click:append="showPasswordC = !showPasswordC"
                  ></v-text-field>
                </v-card-text>
              </v-layout> </v-container
          ></slot>

          <slot name="footer">
            <v-card-actions class="px-4 pt-0">
              <v-btn class="error--text" text @click="close"> cancel </v-btn>
              <v-spacer></v-spacer>
              <v-btn class="success--text" text @click="submit"> SignUp </v-btn>
            </v-card-actions></slot
          >
        </v-layout>
      </v-card>
    </v-layout>
  </v-dialog>
</template>

<script>
import AuthRepository from "@/repositories/auth";
export default {
  props: ["model"],
  data: () => ({
    name: "",
    email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    password: "",
    showPassword: false,
    passwordConfirmation: "",
    showPasswordC: false,
    passwordRules: {
      required: (value) => !!value || "Required.",
      min: (v) => v.length >= 8 || "Min 8 characters",
     // emailMatch: () => `The email and password you entered don't match`,
    },
  }),
  methods: {
    close() {
      this.$store.commit("general/SET_SIGNUP_DIALOG", false);
    },
    submit() {
      if (this.password != this.passwordConfirmation) {
        //display error
      } else {
        AuthRepository.postSignUp({
          name: this.name,
          email: this.email,
          password: this.password,
          password_confirmation: this.passwordConfirmation,
        })
          .then((res) => {
            window.postMessage({ token: res.data.token, type: "login" }, "*");
            this.close();
          })
          .catch(() => {
            //error display
          });
      }
    },
  },
  computed: {
    xs() {
      return this.$vuetify.breakpoint.xsOnly;
    },
  },
};
</script>

<style>
</style>