<template>
  <v-app>
    <AppBar />
    <v-main>
      <SignIn :model="signInDialog" />
      <SignUp :model="signUpDialog" />
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import FormRepository from "@/repositories/form";
import { mapState } from "vuex";
import AppBar from "@/components/AppBar";
import SignIn from "@/components/SignIn";
import SignUp from "@/components/SignUp";

export default {
  name: "App",
  mounted() {
    var linkId = this.$route.query.link
    if (linkId) {
      FormRepository.downloadLink(linkId)
        .then((res1) => {
          FormRepository.getFileInfo(linkId)
            .then((res) => {
              let blob = new Blob([res1.data], {
                type: res1.headers["Content-Type"],
              });
              var link = document.createElement("a");
              link.href = window.URL.createObjectURL(blob);
              console.log("resssfile", res);
              link.download = res.data.file.name;
              link.click();
            })
            .catch(() => {});
        })
        .catch(() => {});
    }
  },
  components: {
    AppBar,
    SignIn,
    SignUp,
  },

  data: () => ({
    isAuthenticated: false,
    selectedMenu: 1,
  }),

  computed: {
    ...mapState({
      signInDialog: (state) => state.general.signInDialog,
      signUpDialog: (state) => state.general.signUpDialog,
    }),
  },
};
</script>
